.listTitle {
    display: flex;
    justify-content: center;
    
    &-headerContainer {
        width: 430px;
        height: 60px;
        background: rgb(42,72,107);
        background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
        margin-top: 50px;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 1px 15px 25px 0px rgba(0,0,0,0.3);
    
        &-title {
            text-align: left;
            margin-left: 25px;
            letter-spacing:7px;
            font-size: 12px;
            color: #fff;
            font-weight: 400;
            margin-top: 23px;
        }
    }
    &-addButtonContainer {
        width: 70px;
        height: 60px;
        background: rgb(42,72,107);
        background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 50px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: pointer;
        transition-duration: 0.4s;
        box-shadow: 1px 15px 25px 0px rgba(0,0,0,0.3);
    
        &-icon {
            margin: 0;
        }
    }
}