$font-stack: 'Montserrat', sans-serif, 'fontawesome';
$primary-color: #333;
$secondary-color: #ce2027;
$tertiary-color: #157dfb;
$body-color: #f5f5f5;
$background-color: white;
$statline-color: #b4b4b4;
$statline-divider-color: #6e6e6e;
$positive-color: #56d630;
$warning-color: #ac1212;
$flag-color: #c95155;
$exit-color: #2a45be;
$transition: 0.2s;
$disabled-color: #c7c7c7;
$subtitle-color: #ffb500;
$button-transition-timing: 0.2s;
$modal-transition: all 0.225s ease-out !default;
