$font-stack: 'Montserrat', sans-serif, 'fontawesome';
$primary-color: #333;
$secondary-color: #ce2027;
$tertiary-color: #53e3a6;

$background-color: #f1f1ef;

$positive-color: #56d630;
$warning-color: #ac1212;
$disabled-color: #c7c7c7;

$transition-duration: 0.3s;
