.questions {
    &-questionsContainer {
        display: flex;
        justify-content: center;
    }
    
    &-headerContainer {
        width: 80%;
        height: 60px;
        background: rgb(42,72,107);
        background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
        margin-top: 50px;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 1px 15px 25px 0px rgba(0,0,0,0.3);
    
        &-title {
            text-align: left;
            margin-left: 25px;
            letter-spacing:7px;
            font-size: 12px;
            color: #fff;
            font-weight: 400;
            margin-top: 23px;
        }
    }
    &-addButtonContainer {
        width: 70px;
        height: 60px;
        background: rgb(42,72,107);
        background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 50px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        cursor: pointer;
        transition-duration: 0.4s;
        box-shadow: 1px 15px 25px 0px rgba(0,0,0,0.3);
    
        &-icon {
            margin: 0;
        }
    }

    &-addContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;

        &-stateDropdown {
            background-color: white;
            height: 35px;
            border-radius: 5px;
            padding: 5px 15px;
            font-size: 16px;
            outline: none;
            border-style: inset;
            border-color: initial;
            border-image: initial;
            border-width: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &-input {
            width: 320px;
            height: 35px;
            border-radius: 5px;
            padding: 5px 15px;
            font-size: 16px;
            outline: none;
            margin: 5px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
        }

        &-multiselect {
            display: flex;
            flex-direction: column;
            margin: 15px 0;

            &__button {
                background-color: white;
                color: lightgray;
                outline: none;
                font-size: 16px;
                padding: 8px;

                &--active {
                    background: rgb(42,72,107);
                    background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
                    background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
                    background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
                    color: white;
                }
            }

            &__filter {
                padding: 5px;
                font-size: 16px;
            }

            &__select {
                outline: none;
                border-style: inset;
                border-color: initial;
                border-image: initial;
                width: 300px;
                font-size: 16px;
            }
        }

        &-selectedTopics {
            padding: 0 20px;

            &-delete {
                cursor: pointer;
                background: #F1F1EF;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                transition-duration: 0.2s;
                &:hover {
                    background: rgb(42,72,107);
                    background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
                    background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
                    background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%); 
                    color: #F1F1EF;
                }
            }

            li {
                text-decoration: none;
            }
        }

        &-textarea {
            width: 70vw;
            font-size: 16px;
            outline: none;
            margin: 5px;
            border-radius: 5px;
            border-style: inset;
            border-color: initial;
            border-image: initial;
        }

        &-button {
            width: 80px;
            height: 48px;
            margin: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            outline:0;
        }
    }
    &-listContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &-questionContainer {
            display: flex;
            background-color: #F1F1EF;
            box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
            z-index: 2;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            width: 80%;
            margin: 10px;
            align-items: center;
            border-radius: 5px;

            &-question {
                padding: 5px 20px;
            }

            &-answers {
                display: flex;
                justify-content: space-between;
                padding: 0 20px;

                h3 {
                    margin-top: 5px;
                }
            }

            &-correctAnswer {
                color: green;
                margin-left: 20px;
                font-size: 12px;
                margin-top: -10px;
                margin-bottom: 10px;
            }

            &-name {
                border-left: 3px solid #e45;
                color: #e45;
                padding-left: 15px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                height: 20px;
                align-items: center;
            }

            &-info {
                margin: 0;
                margin-left: 20px;
                font-size: 12px;
                margin-top: -10px;
            }
    
            &-delete {
                cursor: pointer;
                margin-left: auto;
                margin-right: 20px;
                background: #F1F1EF;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                transition-duration: 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: rgb(42,72,107);
                    background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
                    background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
                    background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%); 
                    color: #F1F1EF;
                }
            }
        }
    }
}