@import '../../styles/variables';

html,
body,
.app,
.app-container {
  height: 95vh;
  min-height: 100%;

  background: linear-gradient(135deg, rgba(250, 249, 247, 1) 0%, rgba(221, 218, 209, 1) 100%);
}

.divider {
  font-weight: 300;
  color: #6e6e6e;
  margin-left: 5px;
  margin-right: 5px;
}
